<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.board.repository.BoardMapper">

    <resultMap id="boardMap" type="com.spring.mvc.board.domain.Board">
        <result column="board_no" property="boardNo"/>
        <result column="reg_date" property="regDate"/>
        <result column="modify_date" property="modifyDate"/>
        <result column="view_count" property="viewCount"/>
    </resultMap>

    <!-- 게시글 전체 목록 조회 -->
    <select id="getArticles" resultMap="boardMap">
        SELECT * FROM board ORDER BY reg_date DESC
    </select>

    <!-- 게시글 등록 -->
    <insert id="insert">
        INSERT INTO board (board_no, writer, title, content)
        VALUES (seq_board.nextval, #{writer}, #{title}, #{content})
    </insert>

    <!-- 조회수 올리기 -->
    <update id="viewCountUp">
        UPDATE board
        SET view_count = view_count + 1
        WHERE board_no = #{boardNo}
    </update>

    <!-- 게시물 상세조회 -->
    <select id="getContent" resultMap="boardMap">
        SELECT * FROM board
        WHERE board_no = #{boardNo}
    </select>


    <!-- 게시글 삭제 -->
    <delete id="delete">
        DELETE FROM board
        WHERE board_no = #{boardNo}
    </delete>

    <!-- 게시글 수정 -->
    <update id="update">
        UPDATE board SET title = #{title}, content = #{content}, modify_date = SYSDATE
        WHERE board_no = #{boardNo}
    </update>


</mapper>